body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    text-align: center;
}
.body

.container {
    width: 80%;
    max-width: 900px;
}

.logo {
    margin-left: -100%;
    font-size: 30px;
    font-weight: bold;
}

.about-box {
    background: #ddd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h2 {
    text-align: center;
}

ul {
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
}